* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url(assets/peyman-farmani-UclyYWTFK7w-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: whitesmoke;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  width: 100%;
  margin-top: 2vh;
  margin-right: 2vh;
}

.header-container {
  background-image: linear-gradient(
    to right top,
    #02142e,
    #004469,
    #007ca3,
    #00b9d4,
    #04f9f9
  );
  border-radius: 25px;
  padding: 2vh;
}

.main {
  width: 100%;
}

#search-bar {
  width: 30vh;
  margin: 3vh;
}

.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search-button {
  cursor: pointer;
}

.forecast {
  justify-content: space-around;
  padding: 2vh;
  align-items: center;
  justify-items: center;
}

.daycast {
  display: grid;
  align-items: center;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  background-image: linear-gradient(
    to right top,
    #02142e,
    #004469,
    #007ca3,
    #00b9d4,
    #04f9f9
  );
  border-radius: 25px;
  transition: 200ms;
}
.daycast:hover {
  transform: scale(1.2);
}

.container {
  display: grid;
  align-items: center;
  padding: 3vh;
  align-items: center;
  justify-items: center;
}

.weather-today {
  display: grid;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.weather-now {
  display: grid;
  align-items: center;
  padding: 4vh;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to right top,
    #02142e,
    #004469,
    #007ca3,
    #00b9d4,
    #04f9f9
  );
  border-radius: 25px;
  transition: 200ms;
}
.weather-now:hover {
  transform: scale(1.2);
}

.weather-today img {
  height: 190px;
  width: auto;
}

.daycast img {
  height: 70px;
  width: auto;
  display: flex;
}
